@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*
.playwrite-no-<uniquifier> {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.chokokutai-regular {
  font-family: "Chokokutai", system-ui;
  font-weight: 400;
  font-style: normal;
}

.science-gothic-<uniquifier> {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*/



html, body {
  font-family: Arial, sans-serif;
  background: rgb(150,150,150);
  height: 100%;
  margin: 0;
}



/* GENERAL */
h1 {
  font-size: 3em;
}

a{
  font-family: Arial, Helvetica, sans-serif !important;
  font-style: normal !important;
  font-weight: 200;
  background: rgba(0, 0, 0, 0.658);
  padding: 1em;
  text-decoration: none;
  transition: all 0.15s;
  border-radius: 3em;
  color: white;
}

a:hover{
  background: #eaeaea;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.863);
  transition: all 0.15s;
  color: rgb(0, 0, 0);
}

/* 
# # # #   # # DIRECTORY_HOME 
*/
.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header styles */
.header {
  background: rgb(180,180,180);
  background-size: 20%;
  background-position: center;
  color: rgb(0, 0, 0);
  text-shadow: rgb(0, 0, 0) 0.1px 0.2px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em 0.5em 1em;

}

.header div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  background: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  display: flex;
  align-items: center;
}

.nav-link img {
  height: 4em;       
  width: auto;
  display: block;      
  transition: 0.2s ease;
}


.nav-link:hover img {
  transform: scale(1.08);
  filter: brightness(1.2);
}


/* DIRECTORY TITLE */
.directory-title{
  text-align: center;
  font-size: 2em;
  background: rgb(240,240,240);
}

h1, h2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;

}
/* Main body styles */
.main-body {
  flex: 1 1 auto;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*LISTS*/
.genre-list, .album-list {
  box-sizing: border-box;
  padding: 2em;
  flex: 1 1 auto;
  width: 100%;
  display: flex;        
  flex-direction: row;
  overflow-x: auto;
  gap: 16px;
  background: rgb(190, 190, 190);
  border-radius: 1em;
}

/* ALBUM LIST AS GRID */
.album-list {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  overflow-x: hidden;  /* stop horizontal scroll */
  overflow-y: auto;    /* vertical scroll if many rows */
  padding: 2em;
}

/* ALBUM CELLS*/
.genre, .album{
  flex: 0 0 auto;                 
  width: 15em;
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  padding: 1em;
  font-size: 18px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: all 0.5s;
}

.genre:hover, .album:hover{
  background: #eaeaea;
  box-shadow: 3px 5px 8px rgba(0,0,0,0.2);
  transition: all 0.3s;
  border: 5px solid rgb(255, 255, 255);
}

.album{
  width: 12em;
  height: 12em;
}

/* TEXT FOR EACH CELL */
.genre-text, .album-text {
  font-family: "Science Gothic", sans-serif;
  font-size: 1.5em;
  text-shadow: rgb(0, 0, 0) 1px 1px 4px;
  font-style: italic;
  position: relative;
  z-index: 2;       
  color: white;    
  display: flex;
  flex-direction: column;
}

/* OVERLAY FOR DARKENING IMAGE */
.genre::before, .album::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45); /* darkness */
  z-index: 1;
  pointer-events: none;
}

#genre-title ,#album-title{
  background: rgb(225,225,225);
  background-size: 20%;
  background-position: center;
  color: rgb(0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.116) 1px 2px ;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4em;
  padding: 0.5em;
  border-radius: 0em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.back-genre-link{
  font-size: 16px;
}

/* SONGS */
.song-list{
  padding: 1em;
  box-sizing: border-box;
  flex: 1 1 auto;
  width: 100%;
  display: flex;        
  flex-direction: column;
  overflow-y: auto;
  background: rgb(190, 190, 190);
  border-radius: 1em;
}

.song {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 0.1fr 1.5fr 9.4fr;
  align-items: center;
  background: rgb(230,230,230);
  margin-bottom: 12px;
  padding: 12px 16px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.song-track{
  font-family: "Science Gothic", sans-serif;
  text-align: center;
  margin-right: 3em; 
  border-radius: 2em;
}

.song audio {
  margin-top: 5px;
  width: 100%;
}

@media (max-width: 700px) {
  /* mobile-only CSS here */

  .header{
    font-size: 0.75em;
  }
  h1{
    font-size: 1em;
  }
  h2{
    font-size: 0.75em;
  }

  #genre-title ,#album-title{
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .genre-list, .album-list {
  box-sizing: border-box!important;
  padding: 1em !important;
  display: flex !important; 
  align-items: center !important;       
  flex-direction: column!important ;
  overflow-y: auto !important;
  gap: 32px !important;
  }

  /* MOBILE SONG LAYOUT */

  .song {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
    text-align: center;
  }

  .song-track{
    display: none;
  }

  .song-name,
  .song-audio {
    width: 100%;         /* stretch nicely */
  }

  .song-audio {
    display: flex;
    justify-content: center;
  }


}

